*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	min-width: 100%;
	//margin: 0;
	//padding: 0;
	color: #fff;
	//background-attachment: fixed;

}

header{
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 500;
	max-width: 100%;

}

nav{
	margin: 0;
	padding: 0;
}

.menuPrincipal{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 100%;
}

.espacioLogo{
	width: 20%;
	background: #000;
	display: flex;
	justify-content: center;
	text-align: center;
}

.espacioLogo h5{
	font-size: 30px;
	margin: 0;
	padding: 0;
	margin-top: 10px;

}

.espacioNav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 80%;
	background: #000;
	width: 100%;

}
.botonesMenu{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	background: #000;

	
	}

.botonesMenu li{
	margin-right: 20px;

}


.espacioSlide{
	width: 100%;
	height: 800px;
}
.botonesMenu li a{
	color:white;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	width: 100%;
	font-size: 20px;
	display: block;

}
.botonesMenu li a:hover{
	background: #000;
	color: yellow;

}

/*Efectos del Menu */

.headroom{
	transition: transform .5s ease;
}

.headroom--pinned{
	transform: translateY(0%);
}

.headroom--unpinned{
	transform: translateY(-200%);
}

/*
.espacioBusqueda{
	display: flex;
}*/

.espacioBusqueda{
	display: flex;
	margin-right: -500px;
}

.imagenGrande1 {
	width: 100%;
	height: 500px;
	background-size: 100% 500px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 120px;
	
}

.espacioBannerRestaurant{
	display: flex;
	justify-content: center;
}

.bannerRestaurant{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 350px;
	box-shadow: 5px 5px 5px #999;

}

.infoRestaurant{
	width: 350px;
	height: 250px;
	background: #fff;
	border-radius: 5px;

		
}

.infoRestaurant p{
	text-align: center;
	color: black;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	white-space: normal;
	margin: 10px;
	}

.infoRestaurant h1{
	text-align: center;
	color: black;
	/*
	font-family: 'Merriweather', serif;
	//background: white;
	font-size: 2em;
	//padding: 40px;
	//padding-bottom: 60px;
	margin: 0;
	//border-radius: 5px;
	*/

}



.restaurantes{
	display: flex;
	margin: 20px;
	height: 400px;
	justify-content: center ;
	margin-top: 100px;
	margin: 100px;
}

.Restaurante1{
	width: 32%;
	margin-right: 50px;
	box-shadow: 5px 5px 5px #999;
}

.Restaurante1:hover{
	border: #EFE700 4px solid;
}
.Restaurante1 p{
	background: #fff;
	background-size: contain;
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
}

.Restaurante2 p{
	background: #fff;
	background-size: contain;
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
}

.Restaurante3 p{
	background: #fff;
	background-size: contain;
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 20px;

}


.Restaurante2{
	width: 32%;
	background: #c54;
	margin-right: 50px;
	box-shadow: 5px 5px 5px #999;
	margin-right: 40px;
}

.Restaurante2:hover{
	border: #EFE700 4px solid;
}

.Restaurante3{
	width: 32%;
	background: #d12;
	box-shadow: 5px 5px 5px #999;
	margin-right: 40px;
}

.Restaurante3:hover{
	border: #EFE700 4px solid;
}

.footerPrincipal{
	max-width: 100%;
	background: #868686;
	margin: 0;

}

.footerPrincipal nav{
	display: flex;
	justify-content: space-around;

}

.terminos{
	list-style: none;
	color: #303032;
	margin-right: 150px;
	margin-left: 20px;
}

.terminos li a{
	color: #303032;
	text-decoration: none;
	font-weight: bold;
}

.terminos li a:hover{
	color: white;
}

.titulosFooter{
	font-size: 25px;
	color: white;
}

.contactoFooter{
	display: flex;
	flex-wrap: wrap;
	font-size: 25px;

}

.iconosRedesSociales{
	margin-right: 10px;
}

.contactoFooter .titulosFooter{
	width: 100%;
}

.siluetaCaracas{
	width: 100%;
	height: 100px;
	margin:0;
	padding: 0;
	
}

main {
	width: 90%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
}

.botonMenu{
	display: none;
}

.socialBar{
	position: fixed;
	left: 0px;
	top:200px;
	margin-left: 0;
	z-index: 2000;
}

.socialBar ul{
	list-style: none;
}

.socialBar ul li a {
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 20px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.socialBar ul li .icon-facebook {
	background: #3b5998;
}

.socialBar ul li .icon-twitter {
	background: #00abf0;
}

.socialBar ul li .icon-instagram {
	background: #d95232;
}


.socialBar ul li a:hover{
	padding: 10px 30px;
	background: #000;
}

.parteQueFalla{
	min-width: 100%;
	
}